$background-color: #f8f9fa;

$main-text-color: #223033;
$second-text-color: #394c50;
$ligth-text-color: #ffffff;

$main-color: rgb(34, 48, 51);
$second-color: #64a4d4;
$third-color: #256476;
$ligth-color: #ffffff;

$main-color-opactity-10: rgba(34, 48, 51, 0.1);
$main-color-opactity-20: rgba(34, 48, 51, 0.2);

$hover-background-color: rgba(34, 48, 51, 0.1);

$dark-shadow-color: #2230334d;
$ligth-shadow-color: #ffffff4d;

$yellow-school-bus: #ffd800;
