$background-color: #f8f9fa;

$main-text-color: #223033;
$ligth-text-color: #ffffff;

$main-color: #223033;
$second-color: #64a4d4;
$third-color: #256476;
$ligth-color: #ffffff;

$dark-shadow-color: #2230334d;
$ligth-shadow-color: #ffffff4d;

$yellow-school-bus: #ffd800;
