@mixin h1 {
  font-size: 40px;
}

@mixin h2 {
  font-size: 36px;
}

@mixin h3 {
  font-size: 32px;
}

@mixin h4 {
  font-size: 28px;
}

@mixin h5 {
  font-size: 24px;
}

@mixin h6 {
  font-size: 20px;
}

@mixin main-text {
  font-size: 16px;
}

@mixin text {
  line-height: 1.5;

  & h1 {
    @include h1;
  }
  & h2 {
    @include h2;
  }
  & h3 {
    @include h3;
  }
  & h4 {
    @include h4;
  }
  & h5 {
    @include h5;
  }
  & h6 {
    @include h6;
  }
  & p {
    @include main-text;
  }
}

@mixin title {
  font-size: 20px;
  line-height: 1.5;
}

@mixin main-font {
  font-size: 16px;
  line-height: 1.5;
}
