@import '../../styles/styles.scss';

.panel,
.panelButton,
.createDocumentPanel {
  background-color: $ligth-color;
  color: $main-text-color;
  @include main-text;
}

.panelButton {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;

  .panelButtonIcon {
    margin: 4px;
  }

  .panelButtonText {
    text-align: center;
  }
}

.titleInput {
  border: none;
  border-bottom: 1px solid $main-color;
  padding: 8px;
  width: 100%;
}

.button {
  color: $main-text-color;

  &:hover {
    border-bottom: 1px solid $main-text-color;
  }
}

.createDocumentPanel {
  min-width: 500px;
  flex-direction: column;
}
