@import '../../../styles/styles.scss';

.root {
  position: sticky;
  top: 0;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: center;
  color: $ligth-color;
  min-height: 60px;
  padding: 20px;
  background-color: $main-color;
  z-index: 1;
  @include bottom-shadow;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
