@import '../../../styles/styles.scss';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  color: $ligth-color;
}

.loginRow {
  margin-top: 20px;
  width: 100%;
}

.input {
  border: none;
  border-bottom: 1px solid $ligth-color;
  padding: 0px 8px 8px 8px;
  color: $ligth-color;
  background-color: inherit;
  width: 250px;

  &::placeholder {
    color: $ligth-color;
    opacity: 0.5;
  }
}

.loginButton {
  padding: 8px;
}
