@import '../../styles/styles.scss';

@keyframes leftPopUp {
  0%   {left: -100px;}
  25%  {left: -50px;}
  70%  {left: 15px;}
  100% {left: 10px;}
}

@keyframes rightPopUp {
  0%   {right: -100px;}
  25%  {right: -50px;}
  70%  {right: 15px;}
  100% {right: 10px;}
}

.root {
  background-color: $second-color;
  position: fixed;
  top: 82px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px 0 10px;
  box-sizing: border-box;
  @include full-shadow;

  & * {
    padding-bottom: 20px;
  }
}

.left {
  left: 10px;
  animation-duration: 1s;
  animation-name: leftPopUp;
}

.right {
  right: 10px;
  animation-duration: 1s;
  animation-name: rightPopUp;
}
