.root {
  cursor: pointer;
  text-decoration: none;
  color: inherit;

  &:disabled {
    pointer-events: none;
    cursor: default;
  }
}

.link {
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
    color: inherit;
    opacity: 0.7;
  }
}

.none {
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
